.comment {
    border: none;
    height: 100%;
    width: 100%;
}

.comment .comment-box {
    background-color: #f8f8f8;
}

.comment .comment-box .comment-user {
    border: none;
    flex: 1 1 25rem;
}

.comment-image img{
    border: 1px solid #d8d7d5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}