{% load static %}
        {% for post in recent %}
        <div class="grid__item">
            <div class="mini-list-item">
                <div class="mini-view_image">
                    <a class="grid-view-item__link" href="{{ post.get_absolute_url }}">
                        <img class="grid-view-item__image blur-up lazyload" data-src="{{ post.recent_img.url }}" src="{{ post.recent_img.url }}" alt="" />
                    </a>
                </div>
                <div class="details">
                    <a class="grid-view-item__title" href="{{ post.get_absolute_url }}">{{ post.blog_title }}</a>
                    <div class="grid-view-item__meta">
                        <span class="article__date"> <time datetime="{{ post.dat_published|date }}">{{ post.date_published|date }}</time></span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
